:root{

    /* Primary Brand */

    --primary:#8B5CF6;
    --primary-dark:#7C3AED;
    --secondary:#A78BFA;

    /* Accent */

    --accent:#FBBF24;

    /* Background */

    --background:#F8F7FF;

    /* Text */

    --text:#1F2937;

    --gray:#6B7280;

    --white:#ffffff;

    --success:#22C55E;

}